@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");

body {
  height: 100vh;
  /* background: #000; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  margin: 0 auto;
  background: #414141;
  padding: 2rem;
  border-radius: 20px;
}

h1 {
  color: #fff;
  font-size: 4rem;
  font-family: "Playfair Display SC", serif;
}
